# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo

# Env files
.env
*.env

# Logs
logs/
*.log

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace.env
.cache/
